absl-py==1.1.0
astor==0.8.1
certifi==2022.6.15
click==7.1.2
Flask==1.1.4
Flask-Cors==3.0.10
gast==0.5.3
google-pasta==0.2.0
grpcio==1.46.3
h5py==3.1.0
itsdangerous==1.1.0
Jinja2==2.11.3
Keras==2.8.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.7
MarkupSafe==2.0.1
numpy==1.21.6
Pillow==7.1.2
protobuf==3.17.3
PyYAML==3.13
scipy==1.4.1
six==1.15.0
tensorboard==2.8.0
tensorflow==2.8.2
tensorflow-estimator==2.8.0
termcolor==1.1.0
Werkzeug==1.0.1
wrapt==1.14.1
